
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');



body {
    margin: 0;
    padding: 0;
}

.background__container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(assets/resist6.jpeg);
    background-size: cover;
    background-position: center;
    filter: brightness(0.55);
    z-index: -1; 
}

.cabecalho {
    padding-top: 3vw;
    padding-bottom:1vw;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.imagem__logo {
    width: 2%;
    height: auto;
    filter: brightness(1);
    opacity: 1;

}

.imagem__titulo {
    width: 50%;

    padding-left: 5%;
    filter: brightness(1);
    opacity: 1;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 4%;
    padding-top: 3vw;
    }    

    .mensagens__de__erro{
        display: flex;
        justify-content: center;
    }

    #mensagens__de__erro {
        top: 11vw;       
        font-family: "Lucida Sans", "Lucida Sans Regular";
        font-size: 1.6vw ;
        color:#69FB16;
        display: inline-block;
        visibility: hidden;
        position: absolute;
        background-color:  rgba(0, 0, 0, 0.5);
        border-radius: 0.7%;
    }
 
.entrada__e__saida__textos{
    display: flex;
    flex-direction: row;  
    align-items: top;
    flex: 1;
}

.area__caixa__entrada textarea{
    border: 1px solid #a8e8f7;
    padding-left: 1vw;
    padding-top: 1vw;
    width: 30vw;
    height: 30vw;
    text-align: left;
    border-radius: 1.2vw;
    font-size: 1.2rem;
    color: #69FB16;
    background-color: rgba(13, 13, 13, 0.6);    

    
}

.imagem__alerta{
    padding: 1rem;
    width:3rem;
    height: auto;
}

.area__texto__saida {
    color: #69FB16;
    position: relative;
    padding: 0;
}

.area__caixa__saida textarea {
    border: 1px solid #a8e8f7;
    padding-left: 1vw;
    padding-top: 1vw;
    width: 30vw;
    height: 23vw;
    text-align: left;
    border-radius: 1.2vw;
    font-size: 1.2rem;
    color: #69FB16;
    background-color: rgba(13, 13, 13, 0.6);
}

.instrucao {      
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1vw;
    padding: 0.625rem; 
    border-radius: 0.3rem; 
    background-color: rgba(13, 13, 13, 0.7);
}

.copie {
    color: #69FB16;
    animation: blink-segundos 1s step-end infinite;
}


.segundos {
    color: #69FB16;
    animation: blink-segundos 1s step-end infinite;
}

.soma__tempo {
    color: #69FB16;
    animation: blink-soma__tempo 1s step-end infinite;
}

.violacao {
    color: #69FB16;
    animation: blink-violacao 1s step-end infinite;
}

@keyframes blink-copie {
    50% {
        visibility: visible;
    }
}

@keyframes blink-segundos {
    50% {
        visibility: visible;
    }
}

@keyframes blink-soma__tempo {
    50% {
        visibility: visible;
    }
}

@keyframes blink-violacao {
    50% {
        visibility: visible;
    }
}

.espaco__para__botoes { 
    padding-top:1.6%;  
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

button {
    margin: 1.5vw;
    font-size: 2vw;
    width: 19vw;
    height: 4vw;    
    border-radius: 0.5vw;
    color: #f1a64f;
    border: 1px solid #FF7E07; 
    background-color: #08070B; 
    cursor: pointer; 
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0d0c10; 
}

footer {
    height: 2vw;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center; /* Centraliza horizontalmente */
    background-color: transparent;
    align-items: center;
    padding-top: 3%;
}

.texto__rodape {
    padding-bottom: 2vh, 2vw;
    margin: auto; /* Centraliza longitudinalmente */
    font-family: sans-serif;
    font-size: 2vw;
    color: #E5E5E5;
}

@media (max-width:899px) and (min-width:431){


    .cabecalho {
        padding-top: 7vw;
        padding-bottom:1vw;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    
    .imagem__logo {
        width: 3.5%;
        height: auto;
        filter: brightness(1);
        opacity: 1;
    }
    
    .imagem__titulo {
        width: 50%;
    
        padding-left: 5%;
        filter: brightness(1);
        opacity: 1;
    }
    
    main {
        padding-top: 7vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 4%;
    
        }    
    
        .mensagens__de__erro{
        display: flex;
        justify-content: center;    
        }
    
    #mensagens__de__erro {
        top: 21vw;       
        font-family: "Lucida Sans", "Lucida Sans Regular";
        font-size: 1.2rem;
        color:#69FB16;
        display: inline-block;
        visibility: hidden;
        position: absolute;
        background-color:  rgba(0, 0, 0, 0.5);
        border-radius: 0.7%;
        }
        
    .entrada__e__saida__textos{
         
        display: flex;
        flex-direction: row;  
        align-items: top;
        flex: 1;     
    }
    .area__caixa__entrada{


    }
    
    .area__caixa__entrada textarea{
        border: 1px solid #a8e8f7;
        padding-left: 1vw;
        padding-top: 1vw;
        width: 40vw;
        height: 48vw;
        text-align: left;
        border-radius: 1.2vw;
        font-size: 1rem;
        color: #69FB16;
        background-color: rgba(13, 13, 13, 0.6);            
    }
    
    .imagem__alerta{
        padding: 1rem;
        width:5vw;
        height: auto;
    }
        
    .area__texto__saida {
        color: #69FB16;
        position: relative;
        padding: 0;
    }
        
    .area__caixa__saida textarea {
        border: 1px solid #a8e8f7;
        padding-left: 1vw;
        padding-top: 1vw;
        width: 40vw;
        height: 39vw;
        text-align: left;
        border-radius: 1.1vw;
        font-size: 0.6rem;
        color: #69FB16;
        background-color: rgba(13, 13, 13, 0.6);
    }
    
    
    
    .instrucao {          
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.7vw;
        padding: 0.625rem; 
        border-radius: 0.3rem; 
        background-color: rgba(13, 13, 13, 0.7);
    }
    
    .espaco__para__botoes { 
        padding-top:2.4%;  
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    
    button {
        margin: 1.7vw;
        font-size: 2.2vw;
        width: 21vw;
        height: 5vw;    
        border-radius: 0.5vw;
        color: #f1a64f;
        border: 1px solid #FF7E07; 
        background-color: #08070B; 
        cursor: pointer; 
        transition: background-color 0.3s ease;
    }
    

    
    footer {
        height: 5vw;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center; /* Centraliza horizontalmente */
        background-color: transparent;
        align-items: center;
        padding-top: 3%;
    }
    
    .texto__rodape {
        padding-bottom: 2vh, 2vw;
        margin: auto; /* Centraliza longitudinalmente */
        font-family: sans-serif;
     
        color: #E5E5E5;
    }
}


@media (max-width: 430px) and (min-width: 276px) and (max-height: 2400px),
       (max-width: 1080px) and (min-width: 1080px) and (max-height: 2400px) {

 
    .cabecalho {
        padding-top: 10vw;
        padding-bottom: 16vw;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

    }
    
    .imagem__logo {
        padding-left: 3vw;
        width:1.3rem;
        height: auto;
        filter: brightness(1);
        opacity: 1;
    }
    
    .imagem__titulo {
        width: 78%;
        height: auto;
        padding-left: 4%;
        filter: brightness(1);
        opacity: 1;
    }
    
    main {
        padding-left: 2.5vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 6%;
        }    
    
        .mensagens__de__erro{
            position: absolute;
            width: 80vw;
            display: flex;
            top: 25vw
        
    }
    
    #mensagens__de__erro {
            text-align: center;
            margin-left: 4vw;
            margin-right: 3.5vw;                 
            font-family: "Lucida Sans", "Lucida Sans Regular";
            font-size: 2.5vw;
            color:#69FB16;
            display: inline-block;
            visibility: hidden;           
            background-color:  rgba(0, 0, 0, 0.4);
            border-radius: 0.7%;
        }
        
    .entrada__e__saida__textos{
    
        display: flex;
        flex-direction: column;  
        align-items: center;
        flex: 1;     
    }

    .instrucao__e__entrada{
        padding-bottom: 15vw;
    }
    
    
    .area__caixa__entrada textarea{
        border: 1px solid #a8e8f7;
        padding-left: 1vw;
        padding-top: 1vw;
        width: 85vw;
        height: 23vh;
        text-align: left;
        border-radius: 2vw;
        font-size: 1rem;
        color: #69FB16;
        background-color: rgba(13, 13, 13, 0.6);       
    }
    
    .imagem__alerta{
        position: absolute;
        left: 7.5vw;
        top: 35vw;
        padding: 0.5rem;
        width:5vw;
        height: auto;
        display: block;
    }
    
    .area__texto__saida {

        color: #69FB16;
        position: relative;
      
    }
    
    .area__caixa__saida textarea {
        border: 1px solid #a8e8f7;
        padding-left: 1vw;
        padding-top: 1vw;
        width: 85vw;
        height: 23vh;
        text-align: left;
        border-radius: 2vw;
        font-size: 1rem;
        color: #69FB16;
        background-color: rgba(13, 13, 13, 0.6);
    }
    
    .instrucao {  
        position: absolute;         
        font-family: Arial, Helvetica, sans-serif; 
        padding: 1vw;
        border-radius: 0.3rem; 
        background-color: rgba(13, 13, 13, 0.5);
   
    }

    .copie{
        font-size: 3vw;
        margin-bottom: 0.3vh;
    }

    .auto__destroi{
        font-size: 3vw;
        margin-bottom: 0.3vh;
    }
    
    .mais__tempo{
        font-size: 3vw;
        margin-bottom: 0.3vh;
    }

    .violado__perimetro{
        font-size: 3vw;
  ;
    }

    .espaco__para__botoes {
        position: absolute; 
        padding-bottom: 1vw;  
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    
    button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1.5vw;
        font-size: 3.5vw;
        width: 27vw;
        height: 8vw;    
        border-radius: 0.7vw;
        color: #f1a64f;
        border: 1px solid #FF7E07; 
        background-color: #08070B; 
        cursor: pointer; 
        transition: background-color 0.3s ease;
    }
        
    footer { 
  top: 6.6vw;

        position: relative;
        bottom: 1vw;
        height: 10vw;
        width: 85%;
        justify-content: center; /* Centraliza horizontalmente */
        align-items: center;
        background-color: transparent;
        align-items: center;
        padding: 10vw;
    }
    
    .texto__rodape {
     
        text-align: justify ;
        text-align-last: bottom;      
        font-family: sans-serif;
        font-size: 3.3vw;
        color: #E5E5E5;
    }
}