
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');



body {
    margin: 0;
    padding: 0;
}

.background__container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(assets/resist6.jpeg);
    background-size: cover;
    background-position: center;
    filter: brightness(0.55);
    z-index: -1; 
}

.cabecalho {
    padding-bottom: 4%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.imagem__logo {
    width: 2%;
    height: auto;
    filter: brightness(1);
    opacity: 1;
    padding: 6% 6%  0 10%;
}

.imagem__titulo {
    width: 50%;
    padding-top: 3.3%;
    padding-left: 5%;
    filter: brightness(1);
    opacity: 1;
}

main {
    display: flex;
    flex-direction: column;     
    }    

    .mensagens__de__erro{
        padding-left: 14%;
    }

    #mensagens__de__erro {
        top: 21.4%;
        font-family: "Lucida Sans", "Lucida Sans Regular";
        font-size: 1.8rem;
        color: #f1a64f;
        display: inline-block;
        visibility: hidden;
        position: absolute;
        background-color:  rgba(0, 0, 0, 0.5);
        border-radius: 0.7%;
    }
 
.entrada__e__saida__textos{
    padding-right: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.area__caixa__entrada textarea{
    border: 1px solid #a8e8f7;
    padding-left: 2rem;
    padding-top: 1rem;
    width: 40rem;
    height: 40rem;
    text-align: left;
    border-radius: 1.8rem;
    font-size: 2rem;
    color: #69FB16;
    background-color: rgba(13, 13, 13, 0.6);    
}

.imagem__alerta{
    margin: 2%;
    padding: 3rem;
    width: 7rem;
    height: auto;
}
.area__caixa__saida textarea {
    border: 1px solid #a8e8f7;
    padding-left: 2rem;
    padding-top: 1rem;
    width: 40rem;
    height: 33rem;
    text-align: left;
    border-radius: 1.8rem;
    font-size: 2rem;
    color: #69FB16;
    background-color: rgba(13, 13, 13, 0.6);
}

.area__texto__saida {
    color: #69FB16;
    position: relative;
    padding: 0;
}

.instrucao {    
    background-color: rgba(13, 13, 13, 0.8);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    padding: 0.625rem; 
    border-radius: 0.3rem; 
    box-shadow: 0.125rem 0.125rem .031rem rgba(0, 0, 0, 0.3); 
    display: inline-block; 
}

.segundos {
    color: #f1a64f;
    animation: blink-segundos 1s step-end infinite;
}

.soma__tempo {
    color: #f1a64f;
    animation: blink-soma__tempo 1s step-end infinite;
}

.violacao {
    color: #f1a64f;
    animation: blink-violacao 1s step-end infinite;
}

@keyframes blink-segundos {
    50% {
        visibility: visible;
    }
}

@keyframes blink-soma__tempo {
    50% {
        visibility: visible;
    }
}

@keyframes blink-violacao {
    50% {
        visibility: visible;
    }
}

.espaco__para__botoes { 
    padding-top:1.6%;
 
   
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

button {
    font-size: 1.56rem;
    width: 18rem;
    height: 3.75rem;    
    border-radius: 10px;
    color: #f1a64f;
    border: 1px solid #FF7E07; 
    background-color: #08070B; 
    cursor: pointer; 
    transition: background-color 0.3s ease;
}


button:hover {
    background-color: #0d0c10; 
}

.botao__criptografa {
    padding-left: 6.5rem;
}

.botao__descriptografa {
    padding-left: 6rem;
}

.botao__copia {
    padding-left: 6rem;
}

footer {
    height: 3%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center; /* Centraliza horizontalmente */
    background-color: transparent;
    align-items: center;
    padding-top: 4%;
}

.texto__rodape {
    padding-bottom: 1.5rem;
    margin: auto; /* Centraliza longitudinalmente */
    font-family: sans-serif;
    font-size: 1.5rem;
    color: #E5E5E5;
}

@media (max-width: 3840px){

    .imagem__titulo {
        width: 50%;
        padding-top: 3.3%;
        padding-left: 10%;
        filter: brightness(1);
        opacity: 1;
    }

    .mensagens__de__erro{
        padding-left: 14%;
    }

    #mensagens__de__erro {
        top: 18.2%;
        font-family: "Lucida Sans", "Lucida Sans Regular";
        font-size: 2.3rem;
        color: #f1a64f;
        display: inline-block;
        visibility: hidden;
        position: absolute;
        background-color:  rgba(0, 0, 0, 0.5);
        border-radius: 0.7%;
    }
 
.entrada__e__saida__textos{
    padding-right: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.area__caixa__entrada textarea{
    border: 1px solid #a8e8f7;
    padding-left: 2rem;
    padding-top: 1rem;
    width: 80rem;
    height: 70rem;
    text-align: left;
    border-radius: 1.8rem;
    font-size: 2.6rem;
    color: #69FB16;
    background-color: rgba(13, 13, 13, 0.6);    
}

.imagem__alerta{
    margin: 2%;
    padding: 3rem;
    width: 9cqb;
    height: auto;
}
.area__caixa__saida textarea {
    border: 1px solid #a8e8f7;
    padding-left: 2rem;
    padding-top: 1rem;
    width: 80rem;
    height: 58rem;
    text-align: left;
    border-radius: 1.8rem;
    font-size: 2.6rem;
    color: #69FB16;
    background-color: rgba(13, 13, 13, 0.6);
}

.area__texto__saida {
    color: #69FB16;
    position: relative;
    padding: 0;
}

.instrucao {    
    background-color: rgba(13, 13, 13, 0.8);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
    padding: 0.625rem; 
    border-radius: 0.3rem; 
    box-shadow: 0.125rem 0.125rem .031rem rgba(0, 0, 0, 0.3); 
    display: inline-block; 
}




.espaco__para__botoes { 
    padding-top:1.6%;
 
   
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

button {
    font-size: 3.12rem;
    width: 32rem;
    height: 7rem;    
    border-radius: 10px;
    color: #f1a64f;
    border: 1px solid #FF7E07; 
    background-color: #08070B; 
    cursor: pointer; 
    transition: background-color 0.3s ease;
}


button:hover {
    background-color: #0d0c10; 
}

.botao__criptografa {
    padding-left: 6.5rem;
}

.botao__descriptografa {
    padding-left: 6rem;
}

.botao__copia {
    padding-left: 6rem;
}

footer {
    height: 3%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center; /* Centraliza horizontalmente */
    background-color: transparent;
    align-items: center;
    padding-top: 6%;
}

.texto__rodape {
    padding-bottom: 1.5rem;
    margin: auto; /* Centraliza longitudinalmente */
    font-family: sans-serif;
    font-size: 3rem;
    color: #E5E5E5;
}
}

@media (max-width: 2560px) {

    .cabecalho {
        padding-bottom: 7%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .imagem__logo {
        width: 2%;
        height: auto;
        filter: brightness(1);
        opacity: 1;
        padding: 3.5% 6% 0% 6%;
    }
    
    .imagem__titulo {
        width: 50%;
        padding-top: 3.3%;
        padding-left: 5%;
        filter: brightness(1);
        opacity: 1;
    }

    #mensagens__de__erro {
        top: 21%;
        padding-left:6% ;
        font-family: "Lucida Sans", "Lucida Sans Regular";
        font-size: 1.6rem;
        color: #f1a64f;
        display: inline-block;
        visibility: hidden;
        position: absolute;
        background-color:  rgba(0, 0, 0, 0.5);
        border-radius: 0.7%;
    }


    .area__caixa__entrada textarea{
        border: 1px solid #a8e8f7;
        padding-left: 2rem;
        padding-top: 1rem;
        width: 43rem;
        height: 43rem;
        text-align: left;
        border-radius: 1.8rem;
        font-size: 1.8rem;
        color: #69FB16;
        background-color: rgba(13, 13, 13, 0.6);    
    }
    
    .imagem__alerta{
        margin: 2%;
        padding: 3rem;
        width: 7rem;
        height: auto;
    }
    .area__caixa__saida textarea {
        border: 1px solid #a8e8f7;
        padding-left: 2rem;
        padding-top: 1rem;
        width: 43rem;
        height: 35rem;
        text-align: left;
        border-radius: 1.8rem;
        font-size: 1.8rem;
        color: #69FB16;
        background-color: rgba(13, 13, 13, 0.6);
    }

    button {
        font-size: 2rem;
        width: 24rem;
        height: 5rem;    
        border-radius: 10px;
        color: #f1a64f;
        border: 1px solid #FF7E07; 
        background-color: #08070B; 
        cursor: pointer; 
        transition: background-color 0.3s ease;
    }

    .texto__rodape {
        padding-bottom: 1.5rem;
        margin: auto; /* Centraliza longitudinalmente */
        font-family: sans-serif;
        font-size: 2rem;
        color: #E5E5E5;
    }    
}


@media (max-width: 1920px) {

    .imagem__logo {
        width: 2%;
        height: auto;
        filter: brightness(1);
        opacity: 1;
        padding: 3.5% 6%  0 10%;
    }

    #mensagens__de__erro {
        top: 20.6%;
        font-family: "Lucida Sans", "Lucida Sans Regular";
        font-size: 1.8rem;
        color: #f1a64f;
        display: inline-block;
        visibility: hidden;
        position: absolute;
        background-color:  rgba(0, 0, 0, 0.5);
        border-radius: 0.7%;
    }

    .area__caixa__entrada textarea{
        border: 1px solid #a8e8f7;
        padding-left: 2rem;
        padding-top: 1rem;
        width: 37rem;
        height: 31rem;
        text-align: left;
        border-radius: 1.8rem;
        font-size: 1.5rem;
        color: #69FB16;
        background-color: rgba(13, 13, 13, 0.6);    
    }
    
    .imagem__alerta{
        margin: 2%;
        padding: 3rem;
        width: 7rem;
        height: auto;
    }
    .area__caixa__saida textarea {
        border: 1px solid #a8e8f7;
        padding-left: 2rem;
        padding-top: 1rem;
        width: 3s7rem;
        height: 32rem;
        text-align: left;
        border-radius: 1.8rem;
        font-size: 1.5rem;
        color: #69FB16;
        background-color: rgba(13, 13, 13, 0.6);
    }

    .instrucao {    
        background-color: rgba(13, 13, 13, 0.8);
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.2rem;
        padding: 0.625rem; 
        border-radius: 0.3rem; 
        box-shadow: 0.125rem 0.125rem .031rem rgba(0, 0, 0, 0.3); 
        display: inline-block; 
    }

    .texto__rodape {
        padding-bottom: 1.5rem;
        margin: auto; /* Centraliza longitudinalmente */
        font-family: sans-serif;
        font-size: 1.4rem;
        color: #E5E5E5;
    }
}

@media  (min-width: 1600px){  

    
}










/*
@media (max-width: 1440px)    
@media (min-width: 1336px) 
@media (min-width: 1280px) 
@media (min-width: 1024px) 
@media (min-width: 690px and max-width: 850px) 
@media (min-width: 431px) and (max-width:376px)
@media (min-width: 375px) and (max-width: 280px) */