@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');


body {
    margin: 0;
    padding: 0;
}
    
.background__container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(assets/resist6.jpeg);
    background-size: cover;
    background-position: center;
    filter: brightness(0.40);
    z-index: -1; 
}
.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.imagem__logo{
    width: 2.5rem;
    height: auto;
    filter: brightness(1);
    opacity: 1;
    padding: 3rem 15rem 0 5rem;
}
.imagem__titulo{
    width: 46rem;
    height: auto;
    padding-top: 2.8rem;
    filter: brightness(1);
    opacity: 1;
} 
main{
    padding-top: 0rem;
    display:flex;
    flex-direction: column;
}
#mensagens__de__erro {
    padding-left: 5.6%;
    font-size: 15px;
    color: #FF7E07;
    height: 1.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    visibility: hidden;
}

.instrucao {
    position: absolute;
    bottom: 2.25rem;
    left: 1rem;
    margin: 0;
    font-size: 1rem;
    pointer-events: none;
    color: #E5E5E5;
    display: block; /* Agora a instrução será exibida por padrão */
}

.entrada__e__saida__textos {
    padding: 0% 4% 0% 4%;
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
}



.imagem__alerta{
    margin: 2%;
    width: 5rem;
    height: auto;
}

textarea {
    border: 1px solid #a8e8f7;
    padding-left: 2rem;
    padding-top: 1rem;
    width: 47.5rem;
    height: 45rem;
    text-align: left;
    border-radius: 1.8rem;
    font-size: 1.5rem;
    color: #69FB16;
    text-decoration: none;
    background-color: rgba(13, 13, 13, 0.6);
}

.texto__instrucao__entrada{
    color: #E5E5E5;
}

.area__texto__saida {  
    color: #69FB16; /* Cor do texto */
    position: relative; 
    padding: 0;
}

.segundos{

    animation: blink 1s step-end infinite;
    }
    
    @keyframes blink {
        50% {
            visibility: hidden;
        }
    }

.instrucao {
    position: absolute;
    bottom: 1rem; /* Ajuste a posição vertical conforme necessário */
    left: 1rem; /* Ajuste a posição horizontal conforme necessário */
    margin: 0;
    font-size: 1rem;
    pointer-events: none; /* Evita que a instrução seja clicável */
    color:#fa9a2c; /* Define a cor do texto da instrução */
}

.espaco__para__botoes {
padding-top: 3rem;
    display: flex;
    flex-direction: row;
    /*justify-content: space-around;*/
    align-items: center;
}

button {
    font-size: 25px;
    width: 288px;
    height: 54px;
    border-radius: 6px;
    color: #f1a64f;
    border: 1px solid #FF7E07; 
    background-color:#08070B; 
    cursor: pointer; 
    transition: background-color 0.3s ease;
}

.botao__criptografa {
    padding-left: 8rem;

}
.botao__descriptografa {
    padding-left: 6rem;
}
.botao__copia {
    padding-left: 41rem;
} 

footer {
    display: flex;
    flex-direction: row;
     /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    padding: 2.25rem 0rem  1.25rem 5rem; /* Adiciona um preenchimento superior e inferior de 20px */
    background-color: transparent;
}

.texto__rodape {
    font-family: sans-serif;
    font-size: 1.25rem; /* Adiciona a unidade 'rem' para o tamanho da fonte */
    color: #E5E5E5;
}

@media (min-width: 345px) and (max-width: 470px) {
    .background__container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url(assets/resist6.jpeg);
        background-size: cover;
        background-position: center;
        filter: brightness(.60);
        z-index: -1; 
    }


    .cabecalho {
        width: auto;
        display: flex;
        flex-direction: row;
        padding-right: 0rem;
        padding-top: 0rem;
        padding-bottom: 1rem;
        padding-left: 2rem;
    }

    .imagem__logo {
        width: 0.75rem;
        height: auto;
        filter: brightness(1);
        opacity: 1;
        padding: 2rem 1rem 1rem 0rem;
    }

    .imagem__titulo {
        width: 18rem;
        height: 1rem;
        padding-top: 1rem;      
        filter: brightness(1);
        filter: contrast(150%) saturate(150%);
        opacity: 1;
    } 

    main {      
        display:flex;
        flex-direction: column;
   
    }

    .mensagens__de__erro {
        background-color:#08070B; 
        padding-left: 1.3rem;
        font-size: 12px;
        color: #FF7E07;
        height: 1.5rem;
        margin-top: 0rem;
        margin-bottom: 0rem;
        visibility: hidden;
    }

    .imagem__alerta {
        display: none;
    }

    .imagem__alerta2 {
        width: 16px; 
        height: 16px;       
    }

    .entrada__e__saida__textos {
        display: flex; 
        flex-direction: column;
        align-items: center;



        padding: 1.5rem 2rem 0rem 2rem;
    }

    textarea {
        border: 1px solid #a8e8f7;
        padding-right: 2rem;
        width: 320px;
        height: 180px;
        text-align: left;
        border-radius: .5rem;
        font-size: 0.8rem;
        color: #69FB16;
        text-decoration: none;
        background-color: rgba(13, 13, 13, 0.6);
    }


    .espaco__para__botoes {
        padding-top: 1rem;
        padding-right: 0.5rem;
        padding-bottom: 0%;    
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    button {
        font-size: 14px; 
        margin: 0.rem;
        width: 110px;
        height: 30px;
        border-radius: 6px;
        color: #f1a64f;
        border: 1px solid #FF7E07; 
        background-color:#08070B; 
        cursor: pointer; 
        transition: background-color 0.3s ease;
    }

    .botao__criptografa {
        padding-left: 0.5rem;
       
    }

    .botao__descriptografa {
        width: 120;
        padding: 0;
    }

    .botao__copia {
        padding: 0;
    } 
    
    footer{
        padding-top: 1rem;
        padding-left: 1.1rem;
     
     }
.texto__rodape{
    font-size: 12px;
    padding-right: 3%;
    justify-content: center;

}

}
